<%- include('partials/header') %>


<div class="join-container">
    <main class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">

                        <!-- Makes POST request to /login route -->
                        <form action="/chat-anynomous" method="GET">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Email or Username" required>
                            </div>
                            <div class="form-group">
                                <label for="room">Room</label> <br> 
                                <input name="room"  class="form-control" type="search" list="room" placeholder="Select or Type Custom Name" required>
                                <datalist id="room" >
                                    <option value="Friends">Friends</option>
                                    <option value="Family">Family</option>
                                    <option value="Backbencher">Backbencher</option>
                                    <option value="Raila">Raila</option>
                                </datalist>
                            </div> <br>
                            <button type="submit" class="btn btn-dark">Join Chat</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



<%- include('partials/footer') %>
