<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Share your Secret!</h1>
    <p class="secret-text">Join a Room.
      <form action="/real-user" method="GET">
          <div class="form-group">
            <input name="room"  class="form-control" type="search" list="room" placeholder="Select or Type Custom Name" required>
            <datalist id="room" >
                <option value="Friends">Friends</option>
                <option value="Family">Family</option>
                <option value="Backbencher">Backbencher</option>
                <option value="Raila">Raila</option>
            </datalist>
          </div><hr>
          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <button type="submit" class="btn btn-dark">Join</button>
        </form>
    </p>
  </div>
</div>

<%- include('partials/footer') %>
